header{
    margin-left: 50%;
    margin-right: 50%;
    border: 30%;
    align-items: center;
    border-style: groove;
    border-left: rgb(190, 52, 52);
    border-bottom: rgb(190, 52, 52) ;
    border-top: rgb(202, 230, 48);
    border-right:rgb(202, 230, 48) ;
}
footer{
    align-items:baseline;
    margin-top: 500px;
}
.banana{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}
  

button{
    border-width: 45%;
    margin-top: 400px;
    border-radius: 100%;
    color: rgb(84, 212, 67);
    align-self: center;
    animation: bubaloo, infinite;
}



h1{
    transform: translate(-50%, -50%);
    position: absolute;
    animation: 
    bluir 10s
    infinite ease-in-out;
}
h1:nth-child(1){
    
    animation-delay: -20;
}
h1:nth-child(2){
    
    animation-delay: -5;
}
@keyframes bluir{
0%, 20%, 100%{
    filter:blur(0px);
    opacity: 1;
}    
40%, 80%{
    filter:blur(16px);
    opacity: 0;
}
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
